.editor {
  font-size: 0.8em;
}

.htmlExercise > .example > .editorWithPreview {
  border: 1px solid #DDD;
  display: flex;
}

.editorWithPreview > .preview,
.editorWithPreview > .editor .CodeMirror {
  min-height: 70px;
  height: auto
}

.editorWithPreview > .editor .CodeMirror-scroll {
  min-height: 70px;
}

.editorWithPreview > .editor {
  font-size: 0.8em;
  max-width: 70%;
}

.editorWithPreview > .preview {
  padding: 10px;
  overflow: auto;
}

.CodeMirror {
  overflow: hidden;
}

.htmlExercise > .example > .verify {
  margin-top: 10px;
}

kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #CCC;
  font-size: 0.7em;
  background-color: #FFF;
  color: #333;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 2px #FFF inset;
  border-radius: 5px;
  display: inline-block;
  margin: 0px 0.1em;
  text-shadow: 0px 1px 0px #FFF;
  line-height: 1.4;
  white-space: nowrap;
}
