#navigation-buttons {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
  max-width: 940px;
}

#navigation-buttons button {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
}

#navigation-buttons button[disabled] {
  visibility: hidden;
}
