#toc {
  background-color: #EEE;
  border-right: 1px solid #AAA;
  font-size: 110%;
  font-weight: 100;
  max-width: 300px;
  min-width: 300px;
  overflow-y: auto;
}

#toc > ul {
  padding-left: 10px;
  padding-top: 10px;
}

#toc > h2 {
  display: none;
}

#toc li {
  list-style: none;
}

#toc .chapter {
  margin-top: 15px;
}

#toc .chapter > .title {
  font-size: 1.08em;
}
#toc .chapter.active > .title {
  font-weight: bold;
}

#toc .slide {
  padding-bottom: 5px;
}

#toc .slides {
  padding-left: 15px;
}

#toc .slide.active {
  font-weight: bold;
}

#toc .slide > a:active,
#toc .slide > a:focus {
  color: #428bca;
  text-decoration: none;
}
