:root {
  --ifm-color-primary-lightest: #8780b6;
  --ifm-color-primary-lighter: #7169a9;
  --ifm-color-primary-light: #6a62a5;
  --ifm-color-primary: #5f5798;
  --ifm-color-primary-dark: #554e89;
  --ifm-color-primary-darker: #514a81;
  --ifm-color-primary-darkest: #423d6a;
  --verify-bg: green;
}

html[data-theme='dark'] {
  --ifm-color-emphasis-0: #121010;
  --ifm-color-primary: #ad9eff;
  --verify-bg: #00bb59;
}

.fakeHeading {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

h3 {
  margin: 5px;
}

.verify > .button {
  background: var(--verify-bg);
}

.customButton {
  border: 1px solid var(--ifm-color-emphasis-600);
  width: 65px;
  background-color: var(--ifm-color-emphasis-200);
  text-align: center;
}

.searchBtn {
  background-image: url("../../static/img/search_icon.png");
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
}

#composer {
  border: 1px solid #1466f2;
}

#description {
  font-size: 12px;
}

#dateFormat {
  font-size: 13px;
}

.editorWithPreview > .editor,
  .editorWithPreview > .preview {
    width: 50%;
    max-width: 50%;
  }

table {
    text-align: center;
    font-size: 1em;
}

th {
  background-color: #dddddd;
  border: 1px solid black;
}

td {
  border: 1px solid black;
}

.table {
  display: table;
}

.tableRow {
  display: table-row;
}

.tableCell, .tableHead {
  display: table-cell;
  padding: 3px 10px;
}

 .tableHeading {
  display: table-header-group;
  background-color: #ddd;
  font-weight: bold;
}

.tableBody {
  display: table-row-group;
}
